.shops-parameters {
  width: 500px;
  margin-left: calc(50% - 250px);
  margin-bottom: 20px;
}

button.shops-get-data {
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-bottom: 20px;
}

.shops-empty-data {
  margin-top: 20px;
  width: 300px;
  margin-left: calc(50% - 150px);
}
